@charset "utf-8";

/* common */

body {
  margin: 0;
  color: #555;
}

h1 {
  margin: 0;
  font-size: 32px;
  font-weight: normal;
}

h2 {
  margin: 0;
  font-size: 28px;
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 140);
}


.lace {
  width: 100%;
}



/* header */

header {
  text-align: center;
  padding: 80px 64px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 24px;
}


/* バナー制作 */

.title {
  background: rgb(255, 216, 223);
  text-align: center;
  padding: 16px 0;
}

.row {
  display: flex;
  margin: 64px;
  gap: 64px;
  align-items: center;
}

.row img {
  width: 30%;
}




/* スマホ版 */

@media(max-width:800px){
  .row img {
    width: 50%;
  }
}

@media(max-width:600px){
  .row img {
    width: 100%;
  }

  .row {
    display: inline-block;
  }

  h2 {
    margin: 16px 0;
  }

}